{% from 'macro.jinja' import codeOf, importModule %}
"""
@Type:          {{ module.models | map(attribute='TARGET') | unique | join(',') }}
@Author:        {{ module.user | default('user' | info) }}
@Last Modified: {{ module.time | default('now' | info) }}

{% if module.doc is defined and module.doc is not none %}
{{ module.doc }}
{% endif %}
"""

{% for md in module.dependencies %}
{{ importModule(md) }}
{%- endfor %}

__all__ = [{{ module.variables | map(attribute='primary_key') | join(', ') }}]

{% for var_name, var in module %}
{{ var_name }} = {{ codeOf(var, use_alias=False) }}
{% endfor %}
